<div class="row">
  <div class="col-md-offset-2 col-md-8">
<div class="panel panel-primary">
	<div class="panel-heading"><h1>Edit LifeTrack</h1>
	</div>
	
	<div class="panel-body">
		<div class="form-group">
		<%= render 'form' %>
 		</div>
	
	 <div class="panel-footer">
	 	<div align="right">
       
       <%= link_to @pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
              <span class="glyphicon glyphicon-trash"></span>
            <% end %>
        </div>
    </div>
</div>
</div>
</div>

