<div class="accordion">
<h2 class="acc_trigger"><a href="#">WhiteGirlMusic</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F7985383&amp;color=0d0d43&amps;theme_color=ffffff&amps; width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Work Grind</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F11977892&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Holidaze</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/16426551&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">White Girls Blaze, Too</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F9074256&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Cooking</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F8797383&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Cruisin'</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F9077182&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Rave</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/9083797&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">90s</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F8792812&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>  
<h2 class="acc_trigger"><a href="#">White Girl Hip Hop</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F10359836&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">My ex can suck it</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F8949298&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Pre-Game</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/playlists/8012443&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Wine & Cheese</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F8796338&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Love Making</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F9034952&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Work It Out</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F8766260&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>
<h2 class="acc_trigger"><a href="#">Soak & Steam</a></h2>
<div class="acc_container">
<div class="block"><iframe frameborder="no" height="600" scrolling="no" src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Fplaylists%2F9076616&amp;color=0d0d43&amp;auto_play=false&amp;font="futura pt"&amps;show_bpm=false&amp;single_active=true&amp;buying=false&amp;liking=false&amp;sharing=false&amp;download=false&amp;show_comments=false&amp;show_playcount=false&amp;show_user=false&amp;start_track=random_ztart_track&amp;shuffle=true&amp;show_artwork=false" width="300"></iframe></div>
</div>



<script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
<script>

jQuery(document).ready(function ($) {
    var divs=$('.accordion>div').hide(); 

    var h2s=$('.accordion>h2').click(function () {
        h2s.not(this).removeClass('active')
        $(this).toggleClass('active')
        divs.not($(this).next()).slideUp()
        $(this).next().slideToggle()
        return false; 
    });
});
</script>

<style type="text/css">
    h2.acc_trigger {
        background-color:transparent;

        border-top: 1px solid #ecf0f1;
        padding: 15px 0 5px 0;
        display:block;
        color:#666666;
 
        font-size:16px;
        font-weight:normal;
        width: 294px;
        text-align: center;
        text-decoration:none;
        
    }
    h2.acc_trigger:hover {
        
        color: #ffffff;
        background-color: #ecf0f1;
        opacity: .75;
        
    }
    h2.acc_trigger:active {
        position:relative;
        top:5px;
    }

</style>